h1 {
    font-size: 70px;
    color: #454d98;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
    margin: 0px;
}

p {
    margin-top: 0px;
    margin-bottom: 15px;
    line-height: 1.4;
}

.header {
    background-color: #326273;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.container {
    background: white;
    width: 75%;
    max-width: 1000px;
    margin:0 auto;
}
