body{
    background-color: #CDE7B0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
    font-size: 18px;
    margin: 0;
}

header{
    background-color: #59594A;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:center;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

section {
    float: left;
    width: 70%;
    margin-bottom: 100px;
}

aside {
    float: right;
    width: 25%;
}

footer {
    background-color: #7286a0;
    clear: both;
    padding: 20px 0;
    text-align: center;
}